# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("abc",134,True,3.44)

abc 134 True 3.44

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [4]:
print("abc",134,True,3.44,sep="-")

abc-134-True-3.44

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [2]:
print("hello!world", end=" ")
print(1234, end=" ")
print(True, end=" ")
print(0.1)

hello!world 1234 True 0.1

4) Can a python print function take no value to print???

In [5]:
print( )

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [5]:
friend_name = "Mr. Ahmed"
age = 30
profession = "lawer"
bachelors_year = 2005
firm_name = "'The Himalya Associates'"
year_exp = 2015
height_feet = 5.10
height_gram = 70600
monthly_income = 200000

print("friends Name:" ,friend_name)
print("age:", age)
print("profession:",profession)
print("Bachelors Year:", bachelors_year)
print("Firm Name:", firm_name)
print("Year Experience:", year_exp)
print("Height in feet:", height_feet)
print("Height in Grams", height_gram)
print("monthly_income", monthly_income)

friends Name: Mr. Ahmed
age: 30
profession: lawer
Bachelors Year: 2005
Firm Name: 'The Himalya Associates'
Year Experience: 2015
Height in feet: 5.1
Height in Grams 70600
monthly_income 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [1]:
current_year = 2024
passout_year = 2005

print("Year of Completed bachelors degree:", current_year - passout_year)

Year of Completed bachelors degree: 19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [10]:
current_year = 2024
start_year = 2015

print(f"Mr. Ahmed been working with law firm 'The Himalya Associates' {current_year - start_year} years.")

Mr. Ahmed been working with law firm 'The Himalya Associates' 9 years.

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [4]:
income_rupees = 200000
doller_pkr = 278.90
income_dollar = 200000 / 278
print(f"monthly income of Mr. Ahmed in dollars {income_dollar:.2f}")

monthly income of Mr. Ahmed in dollars 719.42

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [4]:
print(f"re-write income in integer {int(income_dollar)}")
print(f"re-write income in integer {float(income_dollar)}")

re-write income in integer 719
re-write income in integer 719.4244604316547

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [7]:
ahmed_weight = 70600
print(f"type of Mr. Ahmed's weight{type(ahmed_weight)}")
weight_kg = 70600 / 1000
print(weight_kg)
weight_int = int(weight_kg)
print(type(weight_int))

type of Mr. Ahmed's weight<class 'int'>
70.6
<class 'int'>

11) print the year of birth of Mr. Ahmed.

In [12]:
birth_year = current_year - 30
print(f"Mr.Ahmed birth year {birth_year}")

Mr.Ahmed birth year 1994

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [16]:
amount = 100
student = 6
print(f"the amount {amount % student} can't divided equally amoung students")

the amount 4 can't divided equally amoung students